# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
*/_NCrunch_Griffin.Decoupled/*
*/_ReSharper.*
*.ncrunchsolution*
src/packages/*
src/*.suo
